UIMFLibrary_Demo/packages/
packages/
UIMFLibrary.FunctionalTests/bin/
UIMFLibrary.UnitTests/bin/
UIMFLibrary.UnitTests/obj/
UIMFLibrary/bin/
UIMFLibrary/obj/
UIMFLibrary.FunctionalTests/obj/
*.user
UIMFLibrary.v12.suo
